In [ ]:
Khandare Pavan Haribhau
M.Sc. Computer Science 
IIIrd Semester 
Pattern Recognition

In [ ]:
Assignment 9 : Save and load trained model using sklearn joblib

In [33]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv("dataforfirst.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [36]:
new_df = df.drop('price',axis='columns')
new_df

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [42]:
import joblib

In [43]:
joblib.dump(model,'model_joblib')

['model_joblib']

In [44]:
mj = joblib.load('model_joblib')

In [45]:
mj.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [46]:
mj.intercept_

221323.00186540408